@using Domain.Entities
@model IEnumerable<Book>




@{
    ViewBag.Title = "Books";
}

@foreach (var p in @Model)
{
    <div>
        <h3>@p.Name</h3>
        <p>
            @p.Description
        </p>
        <h4>@p.Price.ToString("# $")</h4>
    </div>
}


