@using WebStoreUI.Models
@using WebStoreUI.HTMLHelpers
@model BooksListViewModel




@{
    ViewBag.Title = "Books";
}

@foreach (var p in @Model.Books)
{
    @Html.Partial("BookSummary",p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { Page = x }))
</div>


